<%- include('partials/header'); -%>


<h1>Compose</h1>
<form class="" action="/compose" method="post">


  <div class="form-group">
    <div class="">
      <label class="form-label">Title</label>
      <input type="text" name="postTitle" class="form-control">
    </div>
    <div class="">
      <label class="form-label">Post</label>
      <textarea name="postBody" class="form-control" rows="5"></textarea>
    </div>
  </div>
  <div class="">
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
  </div>



</form>



<%- include('partials/footer'); -%>
